/* General */
html, 
body {
  margin: 0;
  padding: 0;
  color: #222;
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}

body {
  padding-top: 70px;
}

* {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

.container,
.container-medium,
.container-small {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .container,
  .container-medium,
  .container-small {
    width: 750px;
  }
}

@media only screen and (min-width: 992px) {
  .container,
  .container-medium,
  .container-small {
    width: 970px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 75vw;
  }
  
  .container-medium {
    width: 65vw;
  }

  .container-small {
    width: 50vw;
  }
}

/* Navbar */
.navbar {
  position: fixed;
  width: 100%;
  box-shadow: 0 0 7px #bbb;
  padding: 8px;
  top: 0;
  background: #fff;
}

.navbar .container {
  display: flex;
  align-items: center;
}

.navbar-left {
  float: left;
}

.space-and-cosmos {
  text-decoration: none;
  color: #222;
}

.space-and-cosmos:hover h5 {
  text-decoration: underline; 
}

.space-and-cosmos h5 {
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  font-size: 15px;
}

.navbar-left .fas {
  margin-right: 16px;
}

.navbar-right {
  float: right;
}

.logo {
  margin: 0 auto;
  text-transform: capitalize;
  vertical-align: middle;
}

.navbar-btn {
  text-transform: uppercase;
  padding: 8px 12px 6px;
  color: #fff;
  font-weight: bold;
  background: #326891;
  border-radius: 3px;
  font-size: 12px;
  border: 0.5px solid #888;
}

/* Main Article Content */
main h1 {
  font-style: italic;
}

.intro {
  color: #333;
  margin-bottom: 32px;
}

.intro img {
  width: 100%;
}

.intro span {
  line-height: 20px;
}

.intro .lighter {
  color: #777;
}

main h4 a {
  text-decoration: none;
  color: #222;
}

main h4 a:hover {
  text-decoration: underline;
}

main .article-info {
  margin-bottom: 24px;
}

main .article-info span {
  color: #333;
  display: inline-block;
  margin: 12px 0;
}

main .article-info .article-links {
  float: right;
}

main .article-links {
  float: left;
}

main .article-links .fab,
main .article-links .fas {
  width: 32px;
  height: 32px;
  margin-right: 12px;
  line-height: 32px;
  text-align: center;
  background: #ddd;
  border-radius: 50%;
}

main p {
  font-size: 19px;
  line-height: 150%;
  color: #222;
}

main p a {
  color: #326891;
}

main h2 {
  color: #000;
}

.theory-of-inflation {
  margin: 12px 0;
}

.theory-of-inflation span {
  color: #555;
  line-height: 150%;
}

.theory-of-inflation hr {
  border: 0.5px solid #000;
  width: 80px;
  float: left;
  margin: 48px 0 12px;
}

.theory-of-inflation .row {
  display: flex;
}

.theory-of-inflation .row-item {
  flex: 1;
  margin: 0 4px;
}

.theory-of-inflation .row-item img {
  width: 100%;
  height: 130px;
  margin-top: 8px;
}

.theory-of-inflation .row-item span {
  margin: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  color: #000;
}

.theory-of-inflation .row-item p {
  font-size: 14px;
  display: inline;
  line-height: 130%;
}

.credits {
  font-size: 15px;
  color: #555;
}

.credits span {
  text-transform: uppercase;
}

.video-wrapper {
  margin: 12px 0;
}

.video-wrapper iframe {
  width: 100%;
  height: 480px;
  margin-bottom: 8px;
}

.video-wrapper span {
  color: #555;
}

.image-wrapper {
  margin: 12px 0;
}

.image-wrapper img {
  width: 100%;
  margin-bottom: 8px;
}

.image-wrapper span {
  line-height: 150%;
  color: #555;
}

.print-info {
  color: #555;
  margin-bottom: 24px;
}

/* More Articles */
.more-articles {
  margin: 48px 0; 
}

.more-articles .left-col {
  float: left;
  width: 67%;
  border: 1px solid blue;
}

.more-articles .right-col {
  float: right;
  width: 30%;
  border: 1px solid blue;
  height: 300px;
}

.more-in-space {
  
}